@page
@model PRN231_FALL2024_GROUP6_FE.Pages.JobLevels.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>JobLevel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JobLevel.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JobLevel.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JobLevel.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JobLevel.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.JobLevel.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
